# html
scripts/*.html
*.html

# data
*.Rdata
!source/lookup.Rdata
!models/v1/out.Rdata
!models/v2/out.Rdata
!soildata_app/*.Rdata


# R project files
.Rproj.user
*.Rhistory
*.Rproj

# Subfolders from knitting .Rmds
scripts/01_exporation_daily_files/
soildata_app/rsconnect/
models/v1/rsconnect/
models/v2/rsconnect/

# Documents folder
docs/
