# html
scripts/*.html
*.html

# data
data/
*.csv
*.Rdata
!source/lookup.Rdata

# plots
*.jpg

# R project files
.Rproj.user
*.Rhistory
*.Rproj

# Subfolders from knitting .Rmds
scripts/01_exporation_daily_files/
soildata_app/rsconnect/
models/v1/rsconnect/
models/v2/rsconnect/

# Documents folder
docs/

# Plots (for now)
plots/